.header-section{
    /* max-width: 1366px; */
    width: 100%;
    height: 324px;
    background-image: url(../images/Group\ 68.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.header-div{
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1370px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-li{
    display: flex;
    justify-content: space-between;
}
.navigation-list2{
    padding-left: 48px;
}
.list-names{
    font-size: 14px;
    height: 17px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.home{
    width: 36px;
    height: 17px;
    color: #5863F8;
    font-family: 'Poppins', sans-serif;

}
.header-l{
    width: 86px;
    height: 20px;
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.header-title-div{
    width: 177px;
    height: 59px;
    margin-top: 95px;
    margin-left: 139px;
}
.header-title{
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.header-categories{
    display: flex;
    flex-direction: row;
    margin-left: 139px;
}
.divider{
    width: 1px;
    height: 19px;
    background-color: white;
    margin-right: 16.5px;
}
.header-categorie1{
    width: 42px;
    height: 20px;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-right: 14.5px;
}
.map-section{
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    height: 286px;
    margin-top: 50px;
    margin-bottom: 56px;
}
.map{
    width: 100%;
    height: 286px;
}
.forms-section{
    max-width: 1088px;
    width: 100%;
    height: 688px;
    margin: 0 auto;
}
.forms-section-title{
    width: 70px;
    height: 20px;
    font-size: 14px;
    color:#5863F8;
    font-family: 'Poppins', sans-serif;
}
.forms-section-paragraph{
    max-width: 378px;
    width: 100%;
    height: 115px;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
.contact-information-form{
    display: flex;
    margin: 0 auto;
    max-width: 1088px;
    width: 100%;
    justify-content: space-between;
}
.text-description{
    max-width: 720px;
    width: 100%;
    height: 288px;
    border: 2px;
    border-color: #E8E8E8;
}
.text-area{
    width: 100%;
    height: 288px;
}
.input-div{
    display: flex;
    flex-direction: column;
    height: 288px;
    justify-content: space-between;
    max-width: 352px;

}
.input-name {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px;
    font-family: 'Poppins';
}
.input-name::placeholder {
    color: #CECECE;
}
.input-surname {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px;
    font-family: 'Poppins';
}

.input-email {
    width: 352px;
    height: 60px;
    background-color: #F8F8F8;   
    outline: none;
    padding-left: 10px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 2px; 
    font-family: 'Poppins';
}
.bttn {
    width: 352px;
    height: 60px;
    color: white;
    background-color: #5863F8;
    border: none;
    font-weight: bold;
    font-family: 'Poppins';
}
.contacts-div{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* padding-left: 70px;
    padding-right: 70px; */
}
.small-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.round-div{
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863F8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.far{
    color: white;
}
.round-div-text{
    width: 50px;
    height: 25px;
    font-size: 18px;
    color: #000000;
    font-family:'Poppins';
}
.round-div-emails{
    /* max-width: 362px; */
    height: 44px;
    font-size: 14px;
    color: #B1B1B1;
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
}
.fas{
    color: white;
}
.photo-section{
    margin-top: 90px;
}
.photo-section-title{
    margin-left: 279px;
    width: 58px;
    height: 20px;
    font-size: 14px;
    font-family:'Poppins';
    color:#5863F8;
}
.photo-section-sub{
    margin-left: 279px;
    max-width: 565px;
    width: 100%;
    height: 115px;
    font-size: 42px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
.photo-gallery{
    display: flex;
    justify-content: space-between;
}
.bg-ft-image{
    width: 100%;
    height: 395px;
    background-image: url(../images/Rectangle\ 244.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 54px;
}